@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  --cc-blue-: hsl(223, 87%, 63%);
  --cc-pale-blue-: hsl(223, 100%, 88%);
  --cc-light-red-: hsl(354, 100%, 66%);
  --cc-gray-: hsl(0, 0%, 59%);
  --cc-dark-blue-: hsl(209, 33%, 12%);
  --ff-frnk-: 'Libre Franklin', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cc-vdb-main-bg-);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  font-family: var(--ff-frnk-);
  font-size: 1.25rem;
  margin: 0.5em;
}

.logo {
  width: 20%;
  height: auto;
  margin-bottom: 1em;
}

.header--title {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5em;
}

.header span {
  font-weight: 700;
}

.header p {
  margin: 0.5em;
  font-size: 0.75rem;
  text-align: center;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-form input {
  border-radius: 50px;
  border: 1px solid var(--cc-gray-);
  margin: 1em;
  padding: 1em;
}

.input-form input.error {
  border: 1px solid var(--cc-light-red-);
}

.input-form button {
  border-radius: 50px;
  border: 1px solid var(--cc-gray-);
  margin: 1em;
  padding: 1em;
}

.input-form--small {
  font-size: 0.75rem;
  text-align: center;
  color: var(--cc-light-red-);
}

.dashboard-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .fab {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding: 0.5em;
  border: 0.5px solid var(--cc-pale-blue-);
  border-radius: 100px;
}

.footer a {
  text-decoration: none;
}

.footer .fab:hover::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

.footer .fab:hover {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--cc-blue-);
  border-color: var(--cc-blue-);
}

.footer--paragraph {
  padding: 0em 2em 0em 2em;
  font-size: 0.5em;
  margin-bottom: 1em;
}

small {
  display: none;
}

.input-form.error .email-wrong {
  display: block;
}

.empty-field.error {
  display: block;
}
/*# sourceMappingURL=styles.css.map */