// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

// Custom Properties
:root {
  --cc-blue-: hsl(223, 87%, 63%);
  --cc-pale-blue-: hsl(223, 100%, 88%);
  --cc-light-red-: hsl(354, 100%, 66%);
  --cc-gray-: hsl(0, 0%, 59%);
  --cc-dark-blue-: hsl(209, 33%, 12%);
  
  --ff-frnk-: 'Libre Franklin', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cc-vdb-main-bg-);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--ff-frnk-);
  font-size: 1.25rem;
  margin: 0.5em;
}

.logo {
  width: 20%;
  height: auto;
  margin-bottom: 1em;
}

.header {
  
  &--title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5em;
  }
  span {
    font-weight: 700;
  }
  p {
    margin: 0.5em;
    font-size: 0.75rem;
    text-align: center;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  input {
    border-radius: 50px;
    border: 1px solid var(--cc-gray-);
    margin: 1em;
    padding: 1em;
  }
  
  input.error {
    border: 1px solid var(--cc-light-red-);
  }
  
  button {
    border-radius: 50px;
    border: 1px solid var(--cc-gray-);
    margin: 1em;
    padding: 1em;
  }
  
  &--small {
    font-size: 0.75rem;
    text-align: center;
    color: var(--cc-light-red-);
  }
}

.dashboard-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2em;
}


.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  .fab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.5em;
    border: 0.5px solid var(--cc-pale-blue-);
    border-radius: 100px;
  }

  a {
    text-decoration: none;
  }

  .fab:hover::before {
    display: inline-flex;
    color: white;
  }

  .fab:hover {
    display: inline-flex;
    background-color: var(--cc-blue-);
    border-color: var(--cc-blue-);
  }
  
  &--paragraph {
    padding: 0em 2em 0em 2em;
    font-size: 0.5em;
    margin-bottom: 1em;
  }
}


// JS Form Validation
small {
  display: none;
}

.input-form.error {
  .email-wrong  {
    display: block;
  }
  
}

.empty-field.error {
  display: block;
}
