// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

// Custom Properties
:root {
  --cc-blue-: hsl(223, 87%, 63%);
  --cc-pale-blue-: hsl(223, 100%, 88%);
  --cc-light-red-: hsl(354, 100%, 66%);
  --cc-gray-: hsl(0, 0%, 59%);
  --cc-dark-blue-: hsl(209, 33%, 12%);
  
  --ff-frnk-: 'Libre Franklin', sans-serif;
  
  --shadow-elevation-medium:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cc-vdb-main-bg-);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  min-height: 100vh;
  font-family: var(--ff-frnk-);
  font-size: 1.25rem;
  margin: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo {
  width: 20%;
  height: auto;
  margin-bottom: 1em;
}

.header {
  
  &--title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5em;
    color: var(--cc-gray-);
  }
  span {
    font-weight: 700;
    color: black;
  }
  p {
    margin: 0.5em;
    font-size: 0.75rem;
    text-align: center;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  input {
    border-radius: 50px;
    border: 1px solid var(--cc-pale-blue-);
    margin: 1em;
    padding: 1em 1em 1em 3em;
  }
  
  input::placeholder {
    color: var(--cc-pale-blue-);
  }

  button {
    border-radius: 50px;
    margin: 1em;
    padding: 1em;
    background-color: var(--cc-blue-);
    color: white;
    border-style: none;
    box-shadow: var(--shadow-elevation-medium);
    cursor: pointer;
  }

  &--small {
    font-size: 0.75rem;
    text-align: center;
    color: var(--cc-light-red-);
  }
  
}

#desktop-button {
  display: none;
}

.dashboard-img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin-bottom: 1em;
  margin-top: 1em;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  .fab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.5em;
    border: 0.5px solid var(--cc-pale-blue-);
    border-radius: 100px;
  }
  
  .fab:hover::before {
    display: inline-flex;
    color: white;
  }
  
  .fab:hover {
    display: inline-flex;
    background-color: var(--cc-blue-);
    border-color: var(--cc-blue-);
  }
  
  &--paragraph {
    padding: 0em 2em 0em 2em;
    font-size: 0.5em;
    margin: 1em 0em 1em 0em;
    color: var(--cc-pale-blue-);
  }
}


@media (min-width: 375px) and (max-width: 700px) {
  .logo {
    margin-top: 2em;
  }
  
  .footer {
  margin-top: 3em;
   max-width: 300px;
  }
  
  #desktop-button {
    display: none;
  }
}

@media (min-width: 700px) {
  
  #mobile-button {
    display: none;
  }
  
  #desktop-button {
    display: block;
  }
  
  .footer {
    max-width: 300px;
  }
  
  .input-form {
    display: flex;
    flex-direction: row;
    
    .dashboard-img {
      display: flex;
      align-self: center;
      flex-basis: 100%;
    }
    
    input {
      width: 250px;
    }
    
    button {
      width: 150px;
    }

    small {
      flex-basis: 100%;
    }
  }
}

@media (min-width: 1700px) {
  .input-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .dashboard-img {
    display: flex;
    align-self: center;
    flex-basis: 100%;
  }

  small {
    flex-basis: 100%;
  }
}


// JS Form Validation
small {
  display: none;
}

.input-form.error {
  .email-wrong  {
    display: block;
  }
}
.empty-field.error {
  display: block;
}

input.error {
  border: 1px solid var(--cc-light-red-);
}

#mobile-button:focus, #desktop-button:focus {
  outline: none;
}

input:focus {
  outline:none;
}